# Ignore virtual environments
venv/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings (optional)
.vscode/

# Environment variables or secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database or runtime files
*.sqlite3

# Ignore pip wheel packages
*.whl

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.cache

# Ignore compiled C files
*.so
